$font-basic: "Lato", sans-serif;
$font-headline: "Playfair Display", serif;

$primary-color: #2d3c70;
$secondary-color: #c61b23;


.team-photo {
  margin-top: 0;
}

.team-photo-container {
  background-image: url(../assets/team.png);
  background-size: cover;
  background-position: center;
  display: block;
  height: 74vh;
  width: 100%;
}

.employers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". .";
}

.employers{
  padding: 5% 10%;
}

.employer-photo{
  display: block;
  margin: auto;
}

.employer-name{
  display: block;
  text-align: center;
  font-family: $font-headline;
  font-size: 18px;
  padding: 2% 0% 1% 0%;
  color: $primary-color ;
}

.employer-card{
  padding: 0% 5% 10% 5%;
}

.profession{
  display: block;
  text-align: center;
  font-family: $font-headline;
  font-size: 13px;
  color: $primary-color ;
}

.employer-desc{
  display: block;
  font-family: $font-headline;
  font-size: 16px;
  padding: 2% 5% 0% 5%;
  color: $primary-color ;
}