$font-basic: 'Lato', sans-serif;
$font-headline: 'Playfair Display', serif;

$primary-color: #333;

.phone-container {
    height: 8vh;
    background: radial-gradient(circle, rgba(46,62,116,1) 0%, rgba(23,31,58,1) 100%);
    color: white;
    font-size: 20px;
    display: block;
    margin-top: 0;
}

.phone-number{
    text-align: right;
    margin-right: 10%;
    padding: 1%;
    font-family: $font-basic;
    font-size: 20px;
}

.phone-icon {
    font-size: medium;
}

.nav{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    height: 18vh;
}


.main-photo{
    background-image: url(./assets/home.png);
    background-size: cover;
    background-position: center;
    display:block;
    height: 100vh;
    width: 100%;
    background-color: pink;
}

.logo {
    text-align: center;
    padding: 10%;
}


.nav-custom-left a{
    text-decoration: none;
    color: #6C7389;
    margin-right: 6%;
    padding: 3.25%;

}

.nav-custom-right a{
    text-decoration: none;
    color: #6C7389;
    padding: 6%;
}

.nav-custom-left {
    padding:8%;
    display:block;
    text-align: right;
}

.nav-custom-right {
    padding: 8%;
}

.buttons{
    background-color: yellowgreen;
    height:100px;
    width: 36px;
}

.button-action{
    border-radius: 5px;
    background-color: #C61B23;
    color: white;
    font-family: $font-basic;
    text-align: center;
}

.button-basic{
    border-radius: 5px;
    border-color: #BDC0C9;
    background-color: #3A456667;
    color: white;
    font-family: $font-basic;
    text-align: center;
}

